body {
  background: radial-gradient(circle, #726eff, #5affe7); 
  font-family: 'Hanken Grotesk', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #212b38;
  border-left: 1px solid #212b38;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: #fafafa;
  border-radius: 0;
  border-bottom: 10px solid #212b38;
  padding: 60px;
}

.display-3 {
  font-weight: 500;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #212b38;
}

.hour {
  background-color: #212b38;
  color: #fafafa;
  border-top: 1px solid #212b38;
  border-left: 1px solid #212b38;
}

.past {
  background-color: #37465b;
  color: #fafafa;
}

.present {
  background-color: #08c6ab;
  color: #fafafa;
}

.future {
  background-color: #5affe7;
  color: #fafafa;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #212b38;
  color: #fafafa;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
